* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a::after {
    color: rgb(142, 197, 144);
  }
  .container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    padding: 0 20px;
  }
  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
    text-decoration: none;
}
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .header {
    background-color: rgb(142, 197, 144);
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; /*удаление маркеров */
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3s;
    cursor: pointer;
  }
  .nav-link:hover {
    color:rgb(81, 48, 48);
  }
  html {
    scroll-behavior: smooth; 
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid rgb(142, 197, 144);
}
.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
  }

  .main-title::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: rgb(142, 197, 144);
  }

.section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(142, 197, 144);
}
.section-subtitle {
  margin-top: 20px;
  color: #5c5c5c;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}
.section-list {
  padding: 0;
}
.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}
.contacts__item {
  list-style: none;
}
.contact-link:hover {
  color: rgb(142, 197, 144);

}

.img-logo {
  width: 25px;
  height: 16px;
}

